@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
    font-family: 'Lemon';
    src: url('fonts/LemonMilk.woff2'),
        url('fonts/LemonMilk.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmS';
    src: url('fonts/AmSans.woff2') format('woff2'),
        url('fonts/AmSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: #1E1F21;

}

.Header {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -0px;
    width: 100%;
    height: 108px;
    background-color: #343434;
    font-size: 30px;
}

.headerLogo {
    position: fixed;
    top: -15px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-top: -10px;
    width: 85%;
    height: auto;
    opacity: 100%;
}

.headerLogo img {
    width: 11%;
    height: auto;
    opacity: 100%;

}

.headerLogo2 {
    position: fixed;
    top: -15px;
    right: 0px;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-top: -10px;
    width: 50%;
    height: auto;
    opacity: 100%;
}

.headerLogo2 img {
    float: right;

    width: 11%;
    height: auto;
    opacity: 100%;

}

/*.headerText {
    margin-top: -120px;
    float: right;
    margin-right: 20px;
    text-align: right;
    color: white;
    font-size: 2vw;
    font-family: 'Monotype Corsiva';
    opacity: 100%;
}*/

/* Navigation bar (buttons are in here) */
.navigationBar {
    width: 80vw;
    height: 30px;
    margin-top: -170px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-left: 150px;
    opacity: 100%;

}

/* Buttons */
.navigationBar ul {
    position: fixed;
    padding-top: 5px;
    padding-bottom: 10px;
    opacity: 100%;
    top: -10px;

}


.navigationBar li {
    padding-right: 15px;
    display: inline;
}

.navigationBar a {
    /* Position and size of button */
    width: 12%;
    height: auto;
    display: inline-table;
    padding: 1px 20px;
    margin-left: 5px;
    background-color: ;


    /* Things on the font */
    text-align: left;
    text-decoration: none;
    font-family: 'AmS', monospace;
    font-weight: 100;
    color: #c0bebe;
}

.navigationBar a:hover {
    color: grey;
    transition: 0.5s;
    top: 0;
}

. navigationBar a:visited {
    color: black;
}

/* Title on top of page 
.pageTitle {
    background-color: dimgrey;
    width 100%;
    color: white;
    font-family: 'Monotype Corsiva';
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
*/

/* General things */
h2 {
    color: #c0bebe;
    font-size: 40px;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

/* Home Page */
body {}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: relative;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #343434;
    width: 600px;
    height: 450px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "AmS", monospace;
    font-size: 20px;
    color: white;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #343434;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.Btn-pop {
    position: absolute;
    top: -440%;
    left: 50%;
    width: 300px;
    height: 500px;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 18px;
    border: 2px solid #222;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    background: 0;
}


/* Content 1 thingies */

.content4 {
    position: relative;
    top: 00px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.content1Picture {
    position: relative;
    z-index: -1;
    height: 900px;
    right: 9%;
    bottom: 16%;
    text-align: left;
    padding-top: -10px;
    height: 500px;
    width: 100%;

}

.content1Picture img {
    height: 170%;
    width: 112%;

}

/* //BUTTON */
.join-btn {
    position: relative;
    top: 10px;
    right: -0px;
    width: 200px;
    height: 60px;
    font-family: 'Lemon';
    font-size: 29px;
    background-color: #5cdb95;


}


/* drop */
.dropbtn {
    background-color: #343434;
    color: white;
    padding: 16px;
    border: none;
    text-align: left;
    text-decoration: none;
    font-family: 'AmS', monospace;
    font-weight: 100;
    font-size: 28px;
    color: #c0bebe;
}

.dropdown {
    z-index: 1;
    position: fixed;
    left: 800px;
    top: 37px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: #ddd;
    font-family: 'AmS', monospace;
    font-weight: 100;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #404040;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #343434;
}

*/ .dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}



/* Content 2 thingies */

.content2 {
    position: relative;
    top: -300px;
    left: -1%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 101.5%;
    background-color: #1f1f1f;
}



.content2Picture {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 20%;

}

.content2Picture img {
    height: 100%;
    width: 100%;

}

.content2cap {
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: -100px;
    margin-right: -120px;
    color: white;
    font-size: 30px;
    font-family: 'AmS';
    position: relative;
    left: -10px;
    top: -300px;
    text-align: center;
}

.Plinks {
    text-decoration: none;
}

.content2Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #5CDB95;
}

.contentModM2Title {
    font-size: 70px;
    margin-left: 40px;
    text-align: center;
    font-family: 'Lemon';
    color: white;
}

.contentMod2Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: white;
}

.contentUp2Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #FE7272;
}

.Line2 {
    color: #5CDB95;
}

.content2Description {
    text-align: left;
    font-family: 'Lato';
    color: #dae2e4;
    font-size: 20px;
}

/* Content 3 thingies */
.content3 {
    position: relative;
    top: -200px;
    left: -1%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 101.5%;
    background-color: #1f1f1f;
}



.content3Picture {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 20%;

}

.content3Picture img {
    height: 100%;
    width: 100%;

}

.content3cap {
    margin-top: 200px;
    margin-bottom: auto;
    color: white;
    font-size: 30px;
    font-family: 'AmS';
    position: relative;
    top: -300px;
    text-align: center;
}


.content3Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #FE7272;
}

.contentPast3Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #FE504F;
}

.contentMod3Title {
    margin-left: 40px;
    margin-top: 120px;
    text-align: left;
    font-family: 'Lemon';
    color: white;
}

.Line2 {
    color: #5CDB95;
}

.content3Description {
    text-align: center;
    font-family: 'Lato';
    color: #FE7272;
    font-size: 25px;
    margin-top: -15px;

}

.SeeMore {
    text-decoration: none;
    position: relative;
    width: auto;
    top: 50px;
    font-size: 30px;
}

/* Content 3 thingies */
.content4 {
    position: relative;
    top: -300px;
    left: -1%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 101.5%;
    background-color: #1f1f1f;
}



.content4Picture {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 20%;

}

.content4Picture img {
    height: 100%;
    width: 100%;

}

.content4cap {
    margin-top: 200px;
    margin-bottom: auto;
    color: white;
    font-size: 30px;
    font-family: 'AmS';
    position: relative;
    top: -300px;
    text-align: center;
}


.content4Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #FE7272;
}

.contentPast4Title {
    margin-left: 40px;
    text-align: left;
    font-family: 'Lemon';
    color: #FE504F;
}

.contentMod4Title {
    margin-left: 40px;
    margin-top: 120px;
    text-align: left;
    font-family: 'Lemon';
    color: white;
}

.Line2 {
    color: #5CDB95;
}

.content4Description {
    text-align: center;
    font-family: 'Lato';
    color: #FE7272;
    font-size: 25px;
    margin-top: -15px;

}
